Source: lliurex-ntpdate
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: lliurex-ntpdate
Depends: ${shlibs:Depends}, ${misc:Depends}, ntpsec-ntpdate
Architecture: all
Description: nptdate  classroom client
 This package configure service ntpdate
 in the classroom client.

